
   <div class ="container">
    <div class ="row">
      <h1 class="px-3 mx-auto">
        Welcome to
        <strong><i class="fas fa-book"></i></i>Bookers!</strong>
      </h1>
    </div>
  </div>


